@page "/indexingresos"
@using EcoApp.Shared
@inject HttpClient Http
@inject NavigationManager navigationManager
@using Newtonsoft.Json;
@inject IJSRuntime JSRuntime
@using System.IO
@inject ServicioSingleton singleton

<div class="row alert bg-info">
    <div class="col-md-5">
        <h5> <b>INGRESOS</b></h5>
    </div>

</div>
<br />
<div class="row">
    <div class="col-md-2">
        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_box" Text="Nuevo" Size="ButtonSize.Medium" Click="@Add">
        </RadzenButton>
    </div>
</div>

<RadzenGrid AllowFiltering="true"
            AllowColumnResize="true"
            FilterMode="FilterMode.Simple"
            AllowPaging="true"
            PageSize="20"
            AllowSorting="true"
            Data="@list"
            TItem="Ingreso"
            LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenGridColumn TItem="Ingreso" Property="FechaPago" Title="FechaPago" Width="80%"></RadzenGridColumn>
        <RadzenGridColumn TItem="Ingreso" Property="Valor" Title="Valor" Width="50%"></RadzenGridColumn>
        <RadzenGridColumn TItem="Ingreso" Context="Ingreso" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Left" Width="100%">
            <Template Context="Ingreso">
                <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="edit" Text="Editar" Size="ButtonSize.Medium" Click="@((args) =>Edit(Ingreso.Id))">
                </RadzenButton>
            </Template>
        </RadzenGridColumn>

    </Columns>
</RadzenGrid>




@code {

    List<Ingreso> list;
    Response response = new Response();
    ElementReference inputElement;
    public int IsDownloadStarted { get; set; } = 0;


    protected override async Task OnInitializedAsync()
    {

        await LoadData();
    }

    protected async Task LoadData()
    {
        response = await Http.GetFromJsonAsync<Response>($"api/Ingresos");
        if (response.IsSuccessful)
        {
            list = JsonConvert.DeserializeObject<List<Ingreso>>(response.Data.ToString());
        }
    }

    public void Add()
    {
        navigationManager.NavigateTo("/formingresos");
    }


    public void Edit(string id)
    {
        navigationManager.NavigateTo("/formingresos/" + id);
    }


}
